@using Microsoft.AspNetCore.Http

<div class="footer footerColor">
    <div style="position: relative; display: flex; flex-direction:column; height: 100%;">
        <div style="flex:1 1 auto;">
            <div style="position: relative; display: flex; height: 100%;">
                <div style="flex:1 1 auto;"></div>
                <div style="flex: 1 1 auto; width: 1200px;">

                    <div style="position:relative; display:flex; height:100%;">

                        <div style="flex:1 1 auto;"></div>
                        <div style="flex:1 1 auto;">

                            <div style="position:relative; display:flex; height:100%; max-width: 800px;">
                                <div style="flex:1 1 auto;">

                                    <div style="display: flex; flex-direction:column;">
                                            <div class="footerItem titleSmall" style="padding:0;">Customer Service</div>
                                            <div class="footerItem">Contact us</div>
                                            <div class="footerItem">FAQs</div>
                                            <div class="footerItem">Orders and delivery</div>
                                            <div class="footerItem">Returns and refunds</div>
                                        </div>

                                    </div>
                                <div style="flex:1 1 auto;">

                                    <div style="display: flex; flex-direction:column;">
                                        <div class="footerItem titleSmall" style="padding:0;">About Example.com</div>
                                        <div class="footerItem">About us</div>
                                        <div class="footerItem">Stores</div>
                                        <div class="footerItem">Investors</div>
                                        <div class="footerItem">Careers</div>
                                    </div>
                                   

                                </div>
                                <div style="flex:1 1 auto;">

                                    <div style="display: flex; flex-direction:column;">
                                        <div class="footerItem titleSmall" style="padding:0;">Follow us</div>
                                        <div class="footerItem" style=" display:flex; height:60px;">
                                            <div class="facebookLogo" style="flex:1 1 auto;"></div>
                                            <div class="pinterestLogo" style="flex:1 1 auto;"></div>
                                            <div class="instagramLogo" style="flex:1 1 auto;"></div>
                          
                                        </div>
               
                                    </div>


                                </div>

                            </div>

                        </div>
                            <div style="flex:1 1 auto;"></div>


                        </div>
                   


                </div>
                <div style="flex:1 1 auto;"></div>
            </div>


        </div>
        <div style="flex:0 1 auto; "><div style="text-align:center;">copyright © 2023 Example.com</div></div>

    </div>
</div>