@using SAMPLE_NetCoreMVC.Models

@code {

    [Parameter]
    public SampleItemModel? Item { get; set; }



}



<button style="width: 300px; text-align:left; padding:6px;">@if (Item != null && String.IsNullOrEmpty(Item.Title) == false) @Item.Title</button>